.profile-card {
    width: 20em;
    height: 24.5em;
    transition: 1s ease-in-out;
    clip-path: polygon(30px 0%, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%, 0% 30px);
    box-shadow: 0px 0px 20px #5369f8;
    
  }

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  